<div>
  <h2 class="text-xl"><%= title %></h2>

  <ul>
    <li>
      <a class="underline text-blue-600 font-bold" href="<%= path %>">All Stats</a>
    </li>

    <% years_and_months.each do |year, months| %>
      <li>
        <a class="underline text-blue-600 font-bold" href="<%= "#{path}/#{year}" %>">
          <%= year %>
        </a>
      </li>

      <% months.each do |month| %>
        <li class="pl-3">
          <a class="underline text-blue-600" href="<%= "#{path}/#{year}/#{month}" %>">
            <%= month_names[month] %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
